*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body {
    
    background-image: url("../img/photo-1619990096378-3a5291be3246.avif");
    background-repeat: no-repeat;
    background-size: cover;
}
header {
   background-color: gray;
   opacity: 75%; 
   padding: 1.5rem;
   color:white;
}
   header a {
    color: white;
    text-decoration: none;
}
.Menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    justify-content: flex-end;
}
